.banner {
  background-color: var(--grey);
  min-height: 570px;

  @include tablet {
    min-height: auto;
  }
}

.banner__wrapper {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 40px;

  @include tablet {
    flex-direction: row;
    padding: 40px 0;
  }
}

.banner__content {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 36px;
  background: rgba(217, 217, 217, 0.08);
  backdrop-filter: blur(45px);
  border-radius: 20px;

  @include tablet {
    align-items: flex-start;
    max-width: 70%;
    padding: 54px 120px 60px;
  }
}

.banner__title {
  color: var(--light);
  margin-bottom: 4px;

  @include tablet {
    margin-bottom: 20px;
  }
}

.banner__text {
  margin: 0;
  font-family: var(--main-font);
  color: var(--light);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.16px;
  margin-bottom: 24px;

  @include tablet {
    margin-bottom: 40px;
  }
}

.banner__button {
  @include tablet {
    width: auto;
    min-width: 274px;
  }
}
