.help-banner {
  background-image: url("../img/bg-banner-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-banner-1@2x.jpg");
  }

  @include small-tablet {
    background-image: url("../img/bg-banner-1-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-banner-1-desktop@2x.jpg");
    }
  }
}
