.popup {
  color: var(--dark);
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.popup__form,
.form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.popup__title {
  margin: 0 0 30px 0;
  color: var(--dark);
  font-family: var(--main-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.popup__descr {
  color: var(--dark);
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  @include tablet {
    font-size: 16px;
  }
}
