.title {
  margin: 0;
  color: var(--dark);
  font-family: var(--main-font);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;

  @include mobile {
    font-size: 36px;
  }

  @include small-tablet {
    font-size: 42px;
  }

  @include tablet {
    font-size: 56px;
  }

  @include big-desktop {
    font-size: 72px;
    text-align: left;
    margin-bottom: 20px;
  }
}
