.services {
   background-color: var(--light);
 }

.services__title {
  margin-bottom: 12px;

  @include tablet {
    margin-bottom: 40px;
  }
}

.services__text {
  margin: 0 0 20px 0;
  color: var(--dark);
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  @include tablet {
    display: none;
  }
}
.services__list {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;

  @include tablet {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 360px;
  padding: 20px 10px;
  background-color: var(--accent-2);
  border-radius: 20px;

  @include tablet {
    padding: 24px;
  }
}

.services__item-title {
  position: relative;
  margin: 0 0 8px 0;
  padding-top: 150px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 130px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 20px;
  }
}

.services__item {
  &:nth-child(1) .services__item-title::before {
    background-image: url(../img/service_1@2x.png);
  }
  &:nth-child(2) .services__item-title::before {
    background-image: url(../img/service_2@2x.png);
  }
  &:nth-child(3) .services__item-title::before {
    background-image: url(../img/service_3@2x.png);
  }
  &:nth-child(4) .services__item-title::before {
    background-image: url(../img/service_4@2x.png);
  }
}

.services__description {
  margin: 0;
  margin-bottom: auto;
}

.services__link {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--dark);
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  opacity: 1;
  transition: opacity .2s;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 100%;
    margin-left: 8px;
    background-image: url(../img/svg/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @include tablet {
    font-size: 18px;

    &::before {
      width: 24px;
      height: 24px;
      margin-left: 12px;
    }
  }

  &:hover {
    opacity: 0.7;
    transition: opacity .3s;
  }
}
