<footer class="footer">
  <div class="footer__top">
    <div class="footer__wrapper container">
      <div class="footer__info-wrapper">
        <a href="#" class="footer__logo logo">
          <svg width="129" height="65" fill="none" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="img/sprite.svg#logo"></use>
          </svg>
        </a>
        <div class="footer__requisites">
          <span>ООО «Рога и Копыта»</span>
          <span>Юридический адрес:</span>
          <span>999999, г. Новосибирск,</span>
          <span>ул. Пушкина, д. 1, эт. 1.</span>
          <span>ИНН: 999999999</span>
          <span>КПП: 999999999</span>
          <span>ОГРН: 9999999999999</span>
        </div>
      </div>

      <div class="footer__contacts">
        <button class="btn-reset button button--accent footer__call-request">Обратный звонок</button>
        <a class="footer__tel" href="tel:+79999999999">+7(999)999-99-99</a>
        <a class="footer__email" href="mailto:info@test.ru">info@test.ru</a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__bottom-wrapper container">
      <p class="footer__text">Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положением ч. 2 ст. 437 Гражданского кодекса Российской Федерации. Все персональные данные подлежат обработке в соответствии с политикой конфиденциальности и защищены Федеральным законом Российской Федерации от 27 июля 2006 г. № 152-ФЗ.</p>
      <a class="footer__license-agreement" href="#">Лицензионное&nbsp;соглашение</a>
      <a class="footer__privacy-policy" href="#">Политика&nbsp;конфиденциальности</a>
    </div>
  </div>
</footer>
