<header class="header">
  <div class="header__wrapper container">
    <a href="#" class="header__logo logo">
      <svg width="80" height="40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
    </a>

    <button class="btn-reset button button--accent header__call-request" data-graph-path="call">Обратный звонок</button>

    <div class="header__contacts">
      <a class="header__tel" href="tel:+79999999999">+7(999)999-99-99</a>
      <address class="header__address">г. Новосибирск, ул. Пушкина</address>
    </div>

    <nav class="header__nav nav" title="Main navigation" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#catalog" class="nav__link" data-menu-item data-scroll="catalog">Каталог</a></li>
        <li class="nav__item"><a href="#services" class="nav__link" data-menu-item data-scroll="services">Услуги</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll="reviews">Отзывы</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll="contacts">Контакты</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll="favorites">Избранное</a></li>
      </ul>
    </nav>

    <a href="#" class="header__favorites">
      <svg width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="img/sprite.svg#favorite"></use>
      </svg>

    </a>
    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
    </button>

  </div>
</header>
