<div class="graph-modal">
  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="call">
    <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content popup__content">
      <h3 class="popup__title">Заказать звонок</h3>
      <p class="popup__descr">
        Укажите свои данные и наши менеджеры свяжутся с вами в ближайшее время.
      </p>
      <form action="#" class="popup__form form">
          <div class="form__wrapper">
            <label class="form__label">
              <input class="input-reset form__input input-name" type="text" name="Имя" placeholder="Имя">
            </label>
            <label class="form__label">
              <input class="input-reset form__input input-tel" type="tel" name="Телефон" placeholder="Телефон">
            </label>
          </div>

          <button class="btn-reset button button--dark form__btn popup__btn" aria-label="Записаться">
        <span aria-hidden="true">
          <span>Заказать</span>
        </span>
          </button>
        </form>
    </div>
  </div>
</div>
