<section class="promo" id="about">
  <div class="promo__content-wrapper ">

      <div class="promo__slider swiper container">
        <ul class="list-reset promo__slider-list swiper__wrapper">
          <li class="promo__slider-item swiper__slide">
            <div class="promo__content">
              <h2 class="promo__title title">Распродажа склада!</h2>
              <p class="promo__text">
                Подберите автомобиль со скидкой, акция суммируется с предложениями Trade-In и Кредитом
              </p>
              <a href="#" class="button button--accent promo__button ">Подобрать авто</a>
            </div>

          </li>

        </ul>
        <div class="swiper__pagination">

        </div>



      </div>

  </div>
  <ul class="list-reset promo__options">
    <li class="promo__option">Скидки до 20%</li>
    <li class="promo__option">Trade-In</li>
    <li class="promo__option">Кредит 12%</li>
  </ul>
</section>
