<section class="main__section selection">
  <div class="container">
    <div class="selection__wrapper">

      <div class="selection__content">
        <h2 class="selection__title title">Подбор лучшего предложения</h2>
        <p class="selection__text">
          В нашем сервисе более 1 500 авто. Мы проверяем качество, реставрируем и только после этого выставляем авто на продажу.
        </p>
      </div>

      <div class="selection__catalog">
        <ul class="list-reset selection__catalog-list">
          <li class="selection__catalog-offer offer">
            <div class="offer__top">
              <svg width="79" height="28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="img/sprite.svg#audi"></use>
              </svg>
            </div>
            <div class="offer__bottom">
              <span>Audi</span>
              <span>(122)</span>
            </div>
          </li>
          <li class="selection__catalog-offer offer">
            <div class="offer__top">
              <svg width="79" height="28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="img/sprite.svg#audi"></use>
              </svg>
            </div>
            <div class="offer__bottom">
              <span>Audi</span>
              <span>(122)</span>
            </div>
          </li>
          <li class="selection__catalog-offer offer">
            <div class="offer__top">
              <svg width="79" height="28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="img/sprite.svg#audi"></use>
              </svg>
            </div>
            <div class="offer__bottom">
              <span>Audi</span>
              <span>(122)</span>
            </div>
          </li>
          <li class="selection__catalog-offer offer">
            <div class="offer__top">
              <svg width="79" height="28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="img/sprite.svg#audi"></use>
              </svg>
            </div>
            <div class="offer__bottom">
              <span>Audi</span>
              <span>(122)</span>
            </div>
          </li>
          <li class="selection__catalog-offer offer">
            <div class="offer__top">
              <svg width="79" height="28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="img/sprite.svg#audi"></use>
              </svg>
            </div>
            <div class="offer__bottom">
              <span>Audi</span>
              <span>(122)</span>
            </div>
          </li><li class="selection__catalog-offer offer">
            <div class="offer__top">
              <svg width="79" height="28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="img/sprite.svg#audi"></use>
              </svg>
            </div>
            <div class="offer__bottom">
              <span>Audi</span>
              <span>(122)</span>
            </div>
          </li>
          <li class="selection__catalog-offer offer">
            <div class="offer__top">
              <svg width="79" height="28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="img/sprite.svg#audi"></use>
              </svg>
            </div>
            <div class="offer__bottom">
              <span>Audi</span>
              <span>(122)</span>
            </div>
          </li>
          <li class="selection__catalog-offer offer">
            <div class="offer__top">
              <svg width="79" height="28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="img/sprite.svg#audi"></use>
              </svg>
            </div>
            <div class="offer__bottom">
              <span>Audi</span>
              <span>(122)</span>
            </div>
          </li>
          <li class="selection__catalog-offer offer">
            <div class="offer__top">
              <svg width="79" height="28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="img/sprite.svg#audi"></use>
              </svg>
            </div>
            <div class="offer__bottom">
              <span>Audi</span>
              <span>(122)</span>
            </div>
          </li>
          <li class="selection__catalog-offer offer">
            <div class="offer__top">
              <svg width="79" height="28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="img/sprite.svg#audi"></use>
              </svg>
            </div>
            <div class="offer__bottom">
              <span>Audi</span>
              <span>(122)</span>
            </div>
          </li>
        </ul>
      </div>

      <div class="selection__help">
        <h3>Нужна помощь с выбором?</h3>
        <p class="">Подберем автомобиль по характеристикам и цене. Посчитаем самый выгодный вариант и проверим все нюансы за вас.</p>
        <a href="#" class="button button--accent selection__button">Подобрать авто</a>

      </div>
    </div>
  </div>

</section>
