<section class="main__section services" id="services">
  <div class="container">
    <h2 class="services__title title">Услуги автосалона</h2>
    <p class="services__text">В нашем сервисе более 1 500 авто.
      Мы проверяем качество, реставрируем и только после этого выставляем авто на продажу.</p>
    <ul class="list-reset services__list">
      <li class="services__item">
<!--        <img class="services__image" src="../img/service_1@2x.png" alt="" >-->
        <h3 class="services__item-title">Автокредитование</h3>
        <p class="services__description">
          Купите автомобиль без нанесения значительного урона бюджету семьи
        </p>
        <a href="#" class="services__link">Подробнее</a>
      </li>
      <li class="services__item">
<!--        <img class="services__image" src="../img/service_2@2x.png" alt="" >-->
        <h3 class="services__item-title">Обмен авто</h3>
        <p class="services__description">
          Получи желаемый автомобиль с приличной скидкой.
        </p>
        <a href="#" class="services__link">Подробнее</a>
      </li>
      <li class="services__item">
<!--        <img class="services__image" src="../img/service_3@2x.png" alt="" >-->
        <h3 class="services__item-title">Подбор авто</h3>
        <p class="services__description">
          Помогает клиенту сэкономить время при покупке машины.
        </p>
        <a href="#" class="services__link">Подробнее</a>
      </li>
      <li class="services__item">
<!--        <img class="services__image" src="../img/service_4@2x.png" alt="" >-->
        <h3 class="services__item-title">Срочный выкуп</h3>
        <p class="services__description">
          Продайте авто максимально выгодно с прозрачными условиями
        </p>
        <a href="#" class="services__link">Подробнее</a>
      </li>
    </ul>
  </div>



</section>
